/*================================
 This is file "RESPONSIVE.CSS"
-It is file work: For all
 devices in the tablet and mobile 
 and desktop for site responsive!
=================================*/

@media screen and (max-width: 968px) {

    /*--------------------
     Root fixed variables 
    --------------------*/
    :root {
        --header-height-desktop: 50px;
    }

    .safe-area {
        padding-top: calc(var(--header-height-desktop) + 16px);
    }

    /*---------------------------------------
      This is styles root for root index.html
      "./" books list and books quotes 
     ---------------------------------------*/

    p.p-m-h-q-o {
        color: var(--primary-color);
        font-family: var(--primary-font-family);
        font-weight: 500;
        text-align: center;
        font-size: var(--mobile-tablet-text-size);
    }

    span.three-books {
        font-weight: 600;
        color: var(--primary-color);
        margin-bottom: 10px;
        font-size: var(--mobile-tablet-text-size);
        margin-top: -20px;
    }

    .olim {
        font-size: 20px;
        font-weight: 600;
        color: var(--primary-color);
        text-decoration: none;
    }

    /*-------------------------------------------
     End "This is styles root for root 
     index.html "./" books list and books quotes"
    --------------------------------------------*/



    /*--------------------------
     End "Root fixed variables" 
    --------------------------*/



    /*----------------------
     Book-name-heading-area
    ----------------------*/

    p.book-welcome {
        font-size: 50px;
        font-weight: 700;
        padding-bottom: 30px;
        color: var(--primary-color);
        font-family: var(--primary-font-family);
    }

    .book-subtext-welcome {
        font-size: 20px;
        font-family: var(--primary-font-family);
        color: var(--primary-color);
        font-weight: 600;
    }

    /*---------------------------
     End "Book-name-heading-area" 
    ---------------------------*/


    /*-----------------------------
     For in the root 3 books album 
    -----------------------------*/

    .books {
        margin-top: 40px;
    }

    .books-album {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .books-album span {
        padding: 0;
    }

    /*-----------------------------------
     End "For in the root 3 books album" 
    -----------------------------------*/



    /*--------------
     Box all in one
    --------------*/

    div.content {
        font-size: var(--mobile-tablet-text-size);
        margin-bottom: 10px;
    }

    span.content-parent {
        font-size: var(--mobile-tablet-text-size);
    }

    a.more {
        font-size: var(--mobile-tablet-text-size);
    }

    a.more:hover {
        width: 90px;
    }

    span.arab {
        font-size: var(--mobile-tablet-text-size);
    }

    span.hadis-parent-name {
        font-size: var(--mobile-tablet-text-size);
    }

    /*--------------------
     End "Box all in one"
    -------------------*/



    /*------------------
     Icon is not header
    ------------------*/

    .icon {
        width: 24px;
        height: 24px;
    }

    /*------------------------
     End "Icon is not header"
    ------------------------*/



    /*-----------------------------
     For chapter heading 
    -----------------------------*/

    span.chapter-heading {
        font-size: 30px;
    }

    /*-----------------------------------
     End "For chapter heading"
    -----------------------------------*/



    /*-----------------------------
     Copyright for clone Sunnah.com 
    -----------------------------*/

    .copyright {
        font-size: var(--mobile-tablet-text-size);
        margin: 16px;
    }

    /*------------------------------------
     End "Copyright for clone Sunnah.com" 
    ------------------------------------*/
}

@media screen and (max-width: 480px) {

    /*--------------------
     Root fixed variables 
    --------------------*/

    :root {
        --header-height-desktop: 50px;
    }

    /*--------------------------
     End "Root fixed variables" 
    --------------------------*/



    /*------------------
     Icon is not header
    ------------------*/

    .icon {
        width: 20px;
        height: 20px;
    }

    /*------------------------
     End "Icon is not header"
    ------------------------*/
}